*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
}

.image{
    margin-left: -23px;
    width: 5%;
    /* padding-bottom: 70px; */
}


.list1  {
    margin-left: 12rem;
    margin-top: -10rem;
    display: flex;
    justify-content: space-between;
    vertical-align: top; 
}

.list1 ul{
    list-style: none;
    padding: 0;
}

.list1 li{
    font-size: 20px;
    color: white;
    display: inline;
    margin-right: 30px;
     
}
.list1{
    list-style: none;
}
.list1 a{
    color: white;
    text-decoration: none;
}
.list1 a:hover{
    color: blue;
}

.list2 ul{
 position: relative;
    list-style: none;
    margin-top: 180px;
    margin-left: 10px;

    
}

.list2 li{
    padding: 10px;
}



.list2 a{
    color: white;
    text-decoration: none;
    
    gap: 50px;
}
.list2 a:hover{
    color: blue;
}

.name{
    color: white;
    margin-right: 10px;
}
.surname{
    color: white;
    margin-left: 40px;
}
.address{
    color: white;
}
.phone{
    color: white;
}
.post{
    color: white;
}

.add{
    margin-top: 3rem;
}
.ph{
    margin-top: 3rem;
}
.post{
    margin-top: 2rem;
}
.city{
    margin-top: 2rem;
}
.num{
    margin-top: 2rem;
}

.gym{
    color: white;
    margin-right: 1rem;
}
.football{
    color: white;
    margin-right: 1rem;
}
.Cross-Fit{
    color: white;
    margin-right: 1rem;
}
.Kick-Boxing{
    color: white;
    margin-right: 1rem;
}
.Track{
    color: white;
    margin-right: 1rem;
}

.form{
    margin-left: 15rem;
    margin-top: -15rem;
}

.flow{
    padding-left: 0rem;
    justify-content: space-between;
}
.sec2{
    padding-left: 10rem;
    margin-top: 8rem;
}
.sec2 p{
    color: white;
    margin-bottom: 1rem;
}


.last{
    margin-top: 70px;
    margin-left: 40rem;
    
}
.three{
    padding: 30px;
    font-weight: bold;
    font-size: larger;
    color: black;
    background-color: rgba(255, 228, 94, 0.99);
}


footer{
    
    margin-top: 60px;
}
.whole{
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

.flex{
    display: inline-block;
    margin-right: 50px;
    margin-left: 70px;
}

.flex ul{
    list-style-type: none;
    padding: 10px;
    
}
.flex li{
    padding: 15px;
}

footer ul li{
    color: white;
}
.c, .p, .r{
    font-weight: bold;
}
.icon i{
    color: white;
}