*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.image{
    margin-left: -23px;
    width: 5%;
}
.list1 {
    margin-left: 12rem;
    margin-top: -10rem;
    display: flex;
    justify-content: space-between;
    vertical-align: top;

}
.list1 ul{
    list-style: none;
    padding: 0;
}
.list1 li{
font-size: 20px;
color: white;
display: inline;
margin-right: 30px;


}
.list1{
    list-style: none;

}
.list1 a{
    color: white;
    text-decoration: none;
}
.list1 a:hover{
    color: blue;
}
.list2 ul{
    position: relative;
    list-style: none;
    margin-top: 180px;
}